<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>New KB Article</title>
</head>

<body>
    <form id="addKB" action="/kb" method="POST">
        <!-- <h1>New knowledge base article</h1> -->
        <fieldset>
            <legend>Knowledge Base Article Details</legend>
            <label for="title">Title:</label>
            <input name="title" id="title" type="text"><br>

            <label for="summary">Summary:</label>
            <input name="summary" id="summary" type="text"><br>

            <label for="description">Description:</label>
            <textarea name="description" id="description" placeholder="Steps to solve the issue."></textarea><br>

            <input type="submit" id="submit" value="OK">
        </fieldset>
    </form>
</body>

</html>






<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--
        Create basic creation form nothing fancy
    -->

</head>
<body>
    <form action="/kb" method="POST">
    <input type="text" name="title">
    <!--
    <input type="text" name="summary">
    <input type="textarea" id="description" name="Description" placeholder="Please describe the process to solve the issue in concise easy to follow steps."
    -->
    <input type="submit">
    </form>
</body>

</html>

-->