<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article List</title>
</head>

<body>
    <table>
        <tr th:each="article: ${a}">
            <td th:text="${article.title}" />
            <td th:text="${article.summary}" />
            <td th:text="${article.description}" />
        </tr>
    </table>
</body>

</html>